In [11]:
import pandas as pd
import matplotlib.pyplot as plt

DSI Lab: Task 1

Import pandas and read file as data frame. Check readme for attribute information
Print the data

NOTE: The delimiters in the file are blanks

In [12]:
path = './datasets/iris/data_someMissing.all'
colnames=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
df = pd.read_csv(path, delimiter=' ', names=colnames)
print(df)

df[df.eq('?').any(axis=1)]

    sepal_length sepal_width petal_length petal_width           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

   sepal_length sepal_width petal_length petal_width        class
6           4.6         3.4            ?         0.3  Iris-setosa
9           4.9         3.1          1.5         0.1            ?
13          4.3         3.0          1.1           ?  Iris-setosa
14          5.8         4.0          1.2           ?  Iris-setosa
18            ?           ?          1.7         0.3  Iris-setosa

Pandas treat None and NaN as essentially interchangeable for indicating missing or null values.
But the missing data is not represented by missing values. Instead there is a '?' in the dataset.

Options to handle missing values:
1. Remove incomplete data
2. Fill in with interpolated values

In [13]:
# creating bool series True for NaN values 
# bool_series = pd.isnull(df["class"]) 
    
# filtering data 
# displaying data only with Gender = NaN 
# df[bool_series]

Conclusion: